.btnContainer {
  display: flex;
  justify-content: center;
}

button {
  display: block;
  margin: 0 20px;
  color: white;
  font-size: 24px;
  padding: 15px 50px;
  background-color: rgb(62, 134, 158);
  border: 0;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(133, 203, 231);
}
button:disabled {
  background-color: rgb(133, 203, 231);
}
